doctype html
html
 head
 meta(charset='utf-8')
 title dlux | sculpt your post | press Ctrl + Alt +i
 meta(name='dlux', content='crafting VR')
 script(src='https://aframe.io/releases/0.8.0/aframe.min.js')
 script(src='http://dlux.io/alpha/aframe-text-geometry.min.js')
body
 a-scene
  a-gltf-model(src='https://ipfs.io/ipfs/QmSBUNpUBWvcTJiDnYg8u3WKmYeghykGgvmq2u29CLuTE5')
