html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title dlux | decentralized WebVR
    meta(name='dlux', content='crafting VR')
    meta(property='og:title', content='Decentralized Limitless User eXperiences')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://dlux.io/')
    meta(property='og:image', content='/viz/dluxsplash.png')
    meta(property='og:description', content='Decentralized WebVR platform powered by the Steem blockchain')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Decentralized Limitless User eXperiences')
    meta(name='twitter:description', content='Decentralized WebVR platform powered by the Steem blockchain')
    meta(name='twitter:image', content='dluxsplash.png')
    script(src='https://aframe.io/releases/0.8.2/aframe.min.js')
    script(src='https://unpkg.com/aframe-text-geometry-component@0.5.0/dist/aframe-text-geometry-component.min.js')
    script(src='https://rawgit.com/feiss/aframe-environment-component/master/dist/aframe-environment-component.min.js')
    // url component
    script.
      AFRAME.registerComponent('url', {
      schema: {default: ''},
      init: function () {
      var url = this.data;
      this.el.addEventListener('click', function () {
      window.location.href = url;
      });
      }
      });
  body.a-body
    a-scene
      a-assets
        a-asset-item#bf(src='https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json')
        img#360t(crossorigin='anonymous', src='https://ipfs.io/ipfs/QmZwC5cCtkjmqMSkTd5Ln7ceogRevkX85u4FxeBwQgXaS6')
        img#360s(crossorigin='anonymous', src='https://ipfs.io/ipfs/QmYcNJ8MdN3vC8UZJYaN5Xx13m4ne3z456UCeSTYjE9J5v')
        img#sclogo(src='/viz/steemconnectlogo.jpg')
        img#jslogo(src='/viz/joinsteemlogo.jpg')
        img#adlogo(src='/viz/aboutdluxlogo.jpg')
        img#steemlogo(src='/viz/steem.png')
      a-entity(environment='preset: forest')
      a-camera(position='-1.1 1.6 5', rotation='0 0 0', look-controls='', wasd-controls='', data-aframe-inspector-original-camera='')
        a-cursor(fuse='true', timeout='500', material='', raycaster='', cursor='', geometry='')
      // mountains & water
      a-entity#mountains(obj-model='obj:/viz/mtns.obj;mtl:/viz/mtns.mtl')
      a-entity#water(geometry='primitive:plane;height:2.69;width:2.5300000000000002', material='color:#0080ff', position='-2.63 .346 -2.08', rotation='-90 58.626107186861944 0')
      // otolux tag
      a-entity#heart(obj-model='obj:/viz/love.obj', material='color:#ff0000', position='9.925620634015132 0.089 7.639452134382553', rotation='0 45 0', scale='0.015 0.015 0.015', url='http://otolux.la')
      a-entity#otolux(text-geometry='value:made in LA by OTOLUX;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.15', position='10.400764513458435 0.2496908666488813 2.5590363773543654', scale='2 2 0.01', visible='', material='color:#333333', rotation='0 -90 0')
      a-entity#fence(geometry='primitive:plane;height:0.77;width:5.91', material='side:double', position='10.43 .369 4.967', rotation='0 90 0')
      // boxes
      a-entity#box-1(geometry='', position='-2.550904667295574 4.209 -6.6974128743945744', material='color:#ffff00')
      a-entity#box-2(geometry='', mixin='null', material='color:#ff8000', position='-0.15664445620364909 3.7513597676739376 -7.126213875581079', scale='2.510708693442104 2.510708693442104 2.510708693442104')
      a-entity#box-3(geometry='', position='2.3279528535012792 3.182995476949067 -5.683563666851351', material='color:#00ff80')
      a-entity#box-4(geometry='', position='-4.884657546014574 4.6913579379938195 -7.544614208662843', scale='1.77 1.77 1.77', material='color:#0080ff')
      // demo area sign
      a-entity#sign(geometry='height: 0.95; width: 0.23999999999999988; depth: 1.72', material='color:#c27a2c', position='-4.82 1.339 -.73', rotation='0 -45 0')
      a-entity#arrow(text-geometry='value:<;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.16', position='-5.352507051162033 0.982371742518191 -0.026250521793269893', scale='2.5751289991764095 5.846850445724887 0.01', visible='', material='', rotation='0 45 0')
      a-entity#demo(text-geometry='value:demo;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.15', position='-4.9976202611129485 1.372271490981361 -0.37691655723033934', scale='2 2 0.01', visible='', material='', rotation='0 45 0')
      a-entity#room(text-geometry='value:room;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.15', position='-4.985 1.0525757108351808 -0.3869692888131536', scale='2 2 0.01', visible='', material='', rotation='0 45 0')
      // dlux banner
      a-entity#banner(position='-.39 .732 0')
        a-entity#welcome(text-geometry='value:Welcome to;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;height:0.5;size:0.17', position='-2.0498534639236237 5.476735390751737 -3.132', scale='2 2 0.01', visible='', material='color:#ffffff')
        a-entity#dlux(text-geometry='value:dlux;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json', position='-2.2125945782480465 4.108095607226777 -3.1318564542952747', scale='2 2 0.01', visible='', material='')
        a-entity#dWebVRp(text-geometry='value:a decentralized WebVR platform;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;height:0.5;size:0.17', position='-4.274834331425065 3.417 -3.132', scale='2 2 0.01', visible='', material='color:#ffffff')
        a-entity#steempowered(text-geometry='value:powered by the Steem blockchain;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;height:0.5;size:0.17', position='-4.48 2.7704337675563275 -3.132', scale='2 2 0.01', visible='', material='color:#ffffff')
        a-entity#text-bg(geometry='height:3.52;width:7.98;primitive:plane', position='-0.8679476851953254 4.269232477752182 -3.19', material='side:double;color:#ff0080;opacity:0.46')
      // steem logo
      a-plane#steem.link(height='2', width='2', color='', rotation='', position='-2.2496228905235762 1.3705270845880135 -1.83', material='color:#FFF;shader:flat;src:#steemlogo;transparent:true', geometry='height:1.5;width:1.5')
      // steemconnect
      a-plane#steemconnect.link(height='.5', width='2', color='', rotation='0 0 0', position='.3 2 -1.83', material='shader: flat; src: #sclogo', url='/auth')
      // getsteem
      a-plane#getsteem.link(height='.5', width='2', color='', rotation='0 0 0', position='.3 1.4 -1.83', material='shader: flat; src: #jslogo', url='https://signup.steemit.com/')
      // aboutdlux
      a-plane#aboutdlux.link(height='.5', width='2', color='', rotation='0 0 0', position='.3 .8 -1.83', material='shader: flat; src: #adlogo', url='about/')
      // gabbagallery
      a-entity#gabbagallery(geometry='primitive:plane;height:4;width:4', position='-10.3 2 4.958', rotation='0 90 0', material='opacity:0.4;color:#ae519e', url='https://ipfs.io/ipfs/QmbRzX3FrcMXF8gj3CgYaKVGSDiLNCqQzV4oPrzLgHEFE5')
