html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title dlux | decentralized WebVR
    meta(name='dlux', content='crafting VR')
    meta(property='og:title', content='Decentralized Limitless User eXperiences')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://dlux.io/')
    meta(property='og:image', content='/viz/dluxsplash.png')
    meta(property='og:description', content='Decentralized WebVR platform powered by the Steem blockchain')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Decentralized Limitless User eXperiences')
    meta(name='twitter:description', content='Decentralized WebVR platform powered by the Steem blockchain')
    meta(name='twitter:image', content='dluxsplash.png')
    script(src='https://aframe.io/releases/0.8.2/aframe.min.js')
    script(src='https://unpkg.com/aframe-text-geometry-component@0.5.0/dist/aframe-text-geometry-component.min.js')
    script(src='https://rawgit.com/feiss/aframe-environment-component/master/dist/aframe-environment-component.min.js')
    script(src='https://unpkg.com/aframe-fps-look-controls-component/dist/aframe-fps-look-controls-component.min.js')
    script(src='js/dlux.js')
  body
    a-scene
      a-assets
        a-asset-item#bf(src='https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json')
        img#sclogo(src='/viz/steemconnectlogo.jpg')
        img#jslogo(src='/viz/joinsteemlogo.jpg')
        img#adlogo(src='/viz/aboutdluxlogo.jpg')
        img#steemlogo(src='/viz/steem.png')
      // environment
      a-entity(environment='preset: forest')
      a-entity#point-light(light='type:point;intensity:0.75', position='0 15 15')
      // camera
      a-entity(camera='', fps-look-controls='', wasd-controls='', position='0 0 0')
        //
        a-cursor(position='0 0 -1')
      // dlux
      a-entity#dlux(position='0 -0.1 -10')
        // banner block
        a-entity#cube(geometry='height:8;width:8;depth:8', material='side:double;color:#ff0033;opacity:0.5', position='-0.23520907077682374 4 0')
          a-entity#cube-col-1(position='0.5094452993592824 -2.7742320398058666 4.099999999999992')
            a-entity#dlux(text-geometry='value:dlux;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json', position='', scale='2 2 0.01', visible='', material='color:#1ed6a4')
            a-entity#steempowered(text-geometry='value:Steem powered VR;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;height:0.5;size:0.1', position='0.25257686960285675 -0.40458286302652624 0', scale='2 2 0.01', visible='', material='color:#ffffff')
        // menu block
        a-entity#menu(position='-1.608 1.719 3.119', geometry='height:2.4;width:2.4;depth:2.4', material='opacity:0.7;color:#3F8BF8')
          a-entity#menu-col-1(position='0 0 1.22')
            a-plane#steemconnect.link(height='.5', width='2', color='', rotation='', position='0 0.65 0', material='color:#FFF;shader:flat;src:#sclogo', url='/auth', geometry='')
            a-plane#joinsteem.link(height='.5', width='2', color='', rotation='', position='', material='color:#FFF;shader:flat;src:#jslogo', url='https://signup.steemit.com/', geometry='')
            a-plane#aboutdlux.link(height='.5', width='2', color='', rotation='', position='0 -0.65 0', material='color:#FFF;shader:flat;src:#adlogo', url='about/', geometry='')
        // boxes
        a-entity#boxes(position='0.9509077048919101 0.710367665203627 6.305')
          a-entity#box-1(geometry='', position='-1.9867610577502477 4.052706343560493 -3.4493498143325443', material='color:#ffff00')
          a-entity#box-2(geometry='', mixin='null', material='color:#ff8000', position='0.2764692448037831 3.7490400473780987 -7.126213875581079', scale='2.510708693442104 2.510708693442104 2.510708693442104')
          a-entity#box-3(geometry='', position='2.6380178618649524 7.285748107782961 -7.597022784196335', material='color:#00ff80')
          a-entity#box-4(geometry='', position='-4.884657546014574 4.6913579379938195 -7.544614208662843', scale='1.77 1.77 1.77', material='color:#0080ff')
      // demo area sign
      a-entity#sign(geometry='height:0.95;width:1.72;depth:0.2', material='color:#804000', position='-8.229 1.344 -7.908', rotation='0 45 0', visible='false')
        a-entity#arrow(text-geometry='value:<;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.16', position='-0.8514039322826414 -0.3714990252130552 0.2', scale='2.5751289991764095 5.846850445724887 0.01', visible='', material='', rotation='')
        a-entity#demo(text-geometry='value:demo;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.15', position='-0.36944435015844235 0.045186476928397834 0.2', scale='2 2 0.01', visible='', material='', rotation='')
        a-entity#room(text-geometry='value:room;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.15', position='-0.32 -0.302 0.2', scale='2 2 0.01', visible='', material='', rotation='')
        a-entity#sign-post(geometry='primitive:cylinder;radius:0.08;height:2', material='color:#804000', position='0 -0.5 0')
      // otolux tag
      a-entity#ototag(geometry='primitive:plane;height:0.77;width:5.91', material='side:double', position='0 0.369 8', rotation='0 -180 0')
        a-entity#heart(obj-model='obj:/viz/love.obj', material='color:#ff0000', position='', rotation='', scale='0.015 0.015 0.015', url='http://otolux.la')
        a-entity(id='made in', text-geometry='value:made in LA        by OTOLUX;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.15', position='-2.5343438681418977 -0.13075031335592513 0.09999999999999998', scale='2 2 0.01', visible='', material='color:#333333', rotation='')
        a-entity(id='made in', text-geometry='value:made in LA        by OTOLUX;font:https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json;size:0.15', position='2.4983945090055526 -0.13075031335592513 -0.09999999999999935', scale='2 2 0.01', visible='', material='color:#333333', rotation='0 180 0')
