doctype html
html
  head
    meta(property='og:title', content='dlux')
    meta(property='og:description', content='Blockchain powered social VR where everybody earns and there are no ads and no private tracking.')
    meta(property='og:image', content='https://ipfs.io/ipfs/QmQ84g5YwraX1cF87inZut2GaQiBAFaKEHsUaYT44oTs9h')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='google-site-verification', content='0Ef4h5WFk0v5AZvJT9kzmEMdYSHb3l6eMnBvi5X8RX0')
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css', integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns', crossorigin='anonymous')
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    script.
      function validateForm() {
      return true;
      }
    block scripts
  body.cf
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js")
    script(src="https://cdn.jsdelivr.net/npm/steem/dist/steem.min.js")
    script(src="/js/main.js")
    script.
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
    block footer
