extends layout

block scripts
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
  script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
  script(src='https://use.fontawesome.com/releases/v5.5.0/css/all.css')

block content
  include partials/side-nav

  .container-fluid.header-layer
    .container.header-content
      h1.text-center dlux
      h2.text-center Create or Edit dlux Posts
      p.text-center
        | Give your STEEM post a title, tags, and description. Finally, add the specifics about your creation.
  .container-fluid.form-layer
    .container.form-content
      form.needs-validation(novalidate='')
        .form-group
          label(for='validationCustomPermlink') Permlink
          input#validationCustomPermlink.form-control(type='text', placeholder='dlux.io/@username/...', required='')
        .form-group
          label(for='validationCustomTitle') Title
          .input-group
            input#validationCustomTitle.form-control(type='text', placeholder='Title', required='')
            button.btn.btn-outline-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Type
            .dropdown-menu
              a.dropdown-item(href='#') AR
              .dropdown-divider(role='separator')
              a.dropdown-item(href='#') VR
              .dropdown-divider(role='separator')
              a.dropdown-item(href='#') App
              .dropdown-divider(role='separator')
              a.dropdown-item(href='#') Video
              .dropdown-divider(role='separator')
              a.dropdown-item(href='#') Photo
              .dropdown-divider(role='separator')
              a.dropdown-item(href='#') Sound
        .form-group
          label(for='validationCustomDescription') Description
          textarea#validationCustomDescription.form-control(rows='3', placeholder='Enter a description about your scene', required='')
        .form-group
          label(for='validationCustomTags') Tags (comma seperated, no spaces)
          .input-group
            input#validationCustomTags.form-control.text-lowercase(type='text', placeholder='Add up to 4', required='')
        .form-group
          label(for='validationCustomBeneficiaries') Beneficiaries
          .input-group
            .input-group-prepend
              span#inputGroupPrepend.input-group-text @
            input#validationCustomBeneficiaries.form-control(type='text', placeholder='Username', aria-describedby='inputGroupPrepend', optional='')
            input#validationCustomBeneficiariesValue.form-control(type='text', placeholder='Value', aria-describedby='inputGroupPrepend', optional='')
        .form-group
          label(for='json-input') Custom JSON
          .input-group
            textarea#json-input(autocomplete='off')
              | {
              | "app":"dlux/0.1",
              | "arHash":"",
              | "xr": true,
              | "image":[
              | ],
              | "Hash360":"",
              | "tags":[
              | "dlux"
              | ],
              | "links":[
              | ],
              | "format":"markdown"
              | }
            pre#json-display.
            button#translate
              i.fas.fa-exchange-alt
                br
                | Translate
        .form-group
          .form-check
            input#invalidCheck.form-check-input(type='checkbox', value='', required='')
            label.form-check-label(for='invalidCheck')
              | Agree to 
              a(href='#') terms and conditions
            .invalid-feedback
              | You must agree before submitting.
        button.btn.btn-primary(type='submit') Submit
    footer.footer
      .container.footer-content
        p.text-center
          | If you're not at an event, join our
          a(href='https://discord.gg/Beeb38j') Discord server
          |  to get in touch.
block footer
  script.
    var simplemde = new SimpleMDE({ element: document.getElementById('validationCustomDescription') });
  script(src='/js/jquery.json-editor.min.js', crossorigin='anonymous')
  script.
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();
    //JSON editor
    // get JSON
    function getJson() {
    try {
    return JSON.parse($('#json-input').val());
    } catch (ex) {
    alert('Wrong JSON Format: ' + ex);
    }
    }
    // initialize
    var editor = new JsonEditor('#json-display', getJson());
    // enable translate button
    $('#translate').on('click', function () {
    editor.load(getJson());
    });
