extends layout

block content
  include partials/nav

  main.create-post
    h1 New WebVR Post
    form(action="/post/create-post/" method="post")
      label Title
      input(type="text" name="title")
      label VR Scene (Press CTL + ALT + i to open the inspector)
      iframe(allowvr='yes', id='theIframe', allowfullscreen='yes', scrolling='no', width='1000', height='1000', src=`https://ipfs.io/ipfs/QmTGmwXbvz639zayzdytVWh3fS6HxRmHyiKsECun7DvWaG`)
      label VR IPFS Hash
      input(type="text" name="vrHash")
      label 360 Hash
      input(type="text" name="Hash360")
      label Image Hash
      input(type="text" name="image")
      label Blog Post
      textarea(name="post")
      label Tags separated by commas
      input(type="text" name="tags")
      label
      button.btn.btn-primary(type="submit") Post to STEEM
      p Posting as #{name}
      p #{msg}
